*{
	margin: 0;
}
body{
	font-family: Arial;
	
}
header{
	margin: 0;
	padding: 0;
}
.menu {
	background: #181824;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
	margin: 0px;
}

.menu li{
	display: inline-block;
	text-align: right;

}

.menu li a:hover{
	background: #e3616d;
	padding: 35px;
}

main{
	margin-top: 80px;
	font-size: 25px;
}

.p_title{
	text-align: center;
	margin-top: 20px;
}

.parrafo{
	text-align: center;
	margin-top: 15px;
}

footer{
	background-color: rgb(61, 62, 65);
	margin-top: 200px;
}

.foot{
	list-style: none;
}

.element{
	color: white;
	margin-top: 50px;
}

.boton{
	background-color: #e3616d;
	width: 350px;
	text-align: center;
	text-decoration: none;
	padding: 20px;
	display: block;
	color: white;
	box-shadow: 0px 25px 0px 0px pink;
	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
}

.boton:hover{
	box-shadow: 0px 10px 0px pink;
	padding-top: 15px;
}

